/*
 * abhiramtiyu (custom css for Login and dashboard page)
 */
@font-face{
  font-family: 'proxima nova regular';
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-regular-webfont.ttf');
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-regular-webfont.ttf') format('truetype');
}
@font-face{
  font-family: 'proxima nova thin'; 
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-thin-webfont.ttf');
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-thin-webfont.ttf') format('truetype');
}
@font-face{
  font-family: 'proxima nova bold';
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-bold-webfont.ttf');
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-bold-webfont.ttf') format('truetype');
}
@font-face{
  font-family: 'proxima nova semibold'; 
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-semibold-webfont.ttf');
  src:url('http://dev-lender-portal.krazy-tech.com/staticfiles/font/proxima-nova-semibold-webfont.ttf') format('truetype');
}


body{
  font-family: 'proxima nova regular', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'proxima nova semibold', sans-serif;
  font-weight: 100;
}
.m-t-30{margin-top: 30px;}N
.m-b-30{margin-bottom: 30px}

.btn-red{
  background-color: #0e52fd;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;
  border-radius: 0px;
  border:1px solid #0e52fd;
}
.btn-small{padding: 5px 15px;font-size: 12px;font-weight: 100;}
.btn-red:hover{
  border:1px solid #fff;
  color: #fff;
}
/*login section css*/
.login-view{
  background-image: url(../img/login-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;padding-top: 60px;
}
.login-header a img{
  width: 150px;
}
.login-body-section h1{
  font-size: 4em;
  color: #fff;
  font-weight: 100;
  margin-top: 100px;
  margin-bottom: 40px;
}
.login-box-container{
  background-color: #fff;
  padding: 50px 60px;
  color: #282828;
}
.login-box-container .field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.login-box-container label,.login-box-container input {
  transition: all 0.2s;
  touch-action: manipulation;
}
.login-box-container .form-control {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #313131;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;outline: none;
  box-shadow: none;
}
.login-box-container h2{
font-size: 3em;
font-weight: 100;
margin-top: 0px;
}
.login-box-container p{
  font-size: 0.9em;
}
.login-box-container input:focus {
  outline: 0;
  border-bottom: 1px solid #313131;
}

.login-box-container label {
  text-transform: capitalize;
  letter-spacing: 0.05em;
  font-size: 0.9em;
}
.login-box-container input:placeholder-shown + label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  font-size: 1em;
  transform: translate(0, 2.125rem);
  font-size: 0.8em;
  font-weight: 400;
  color: #8a8787;
}
.login-box-container ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
.login-box-container input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.login-box-container input:not(:placeholder-shown) + label,
.login-box-container input:focus + label {
  transform: translate(0, 0);
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 400;

}
.login-box-container .checkbox{
  margin-top: 30px;
  margin-bottom: 30px;
}
.login-box-container .checkbox label{
text-transform: capitalize;
font-size: 0.9em;
}
.login-box-container .checkbox a{
  color: #8a8787;
  font-size:0.9em;
}
.login-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'proxima nova regular', sans-serif;
}
.login-footer ul li{
  opacity: 0.5;
    font-weight: 100;
    font-size: 0.9em;}
/*end of login section css*/

/*start of Dashboard pages */
.body-wrapper{padding-bottom: 40px;}
.dashboard-nav{
  background-color: #0e52fd;
  border-bottom: 1px solid #ccc;
}
.dashboard-nav .navbar-brand{
  height:auto;
  padding: 10px 15px;
}
.dashboard-nav>.container-fluid .navbar-brand{
  margin-left: 0px;
  padding-left: 0px;
}
.dashboard-nav .navbar-brand>img{
/*width: 120px;*/
width: 130px;
}
.dashboard-nav .navbar-nav>li>a{
    padding: 27px 29px;
    color: #FFF;
    font-size: 1em;
    font-family: "proxima nova regular";
}
.dashboard-nav .nav>li>a:focus,
.dashboard-nav .nav>li>a:hover{
  background: none;
  text-decoration: underline;
}
.dashboard-nav .nav>li.active a{
  text-decoration: underline;
}
.searchbox{
  min-width: 418px;
    float: left;
    position: relative;
    margin-top: 13px;
}
.searchbox input{
  border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
    height: 46px;
    padding-right: 50px;
}
.searchbox .form-control:focus{
  box-shadow: none;border-color: #ccc;
}
.search-icon{
  position: absolute;
    top: 0px;
    right: 0px;
    background: #0e52fd;
    border: 0px;
    color: #fff;
    /*padding: 9px 14px;*/
    padding: 11px 15px;
}
.search-icon .glyphicon{
    font-size: 20px;
}
.dashboard-header{
  background-image: url(../img/header-title.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 62px;
    padding: 25px 0px;
}
.dashboard-header h1{
  font-weight: 100;
  font-size: 2.3em;
  color: #fff;
  margin: 0px;
  font-family: "proxima nova semibold";
}

.table thead tr th{
  color: #b11a1e;
    /* text-transform: uppercase; */
    font-size: 1em;
    font-weight: 200;
    font-size: 1.4em;
    font-family: "proxima nova semibold";
    border-bottom: 0px;
    color: #333;
     padding: 8px 10px;
}

.table tbody tr td{
  font-size: 1em;
  font-family: "proxima nova semibold";
  border:none;
  padding: 18px 10px;
}
.table tbody tr td input{
  width: 70%;
}
.table tbody tr td a{ font-weight: 100 }
.table thead tr,.table tbody tr{border-bottom: 1px solid #ccc;}
.filter-btn a{
  font-family: "proxima nova bold";
  color: #0e52fd;
  font-size: 1em;font-weight: 200;
  background-image: url("../img/filter-icon.png");
  background-repeat: no-repeat;
  background-position: right;
    padding: 10px 30px 10px 0px;
    background-size: 20px;

}
.filter-btn a:hover{
text-decoration: none;
}
.table-paginate .list-inline{
      margin-left: 30px;
}
.table-paginate .list-inline li{
      line-height: 31px;
}
.profile-image{
  width: 40px;
    position: absolute;
    top: 12px;
    border: 2px solid #fff;
    right: 0px;
    border-radius: 50%;
}
.dashboard-nav .navbar-nav>li>a{
      padding-right: 14px;
}
.dashboard-nav .navbar-nav>li:last-child>a{padding-right: 43px;}
/* dashboard pages start*/
.wrapper-mainhead{font-weight: 100;color: #16325c;font-size: 2em;}
.notification-list {
      border: 1px solid #ccc;
      padding-right: 0 !important;
}
.notification-list h3{
    font-weight: 100;
    font-size: 1.5em;
}
.each-notification{
  vertical-align: middle;
    min-height: 60px;
    margin-right: 0px;
}
.all-listnotification{
      max-height: 300px;
      min-height: 300px;
      overflow: hidden auto;
}
.notification-image img{
    width: 50px;
}
.notification-user{
  font-weight: bold;
}
.notification-time{
    color: #898989;
    font-size: 85%;
    font-weight: 100;
    padding-left: 15px;
    }
.comment-for{
  font-weight: bold;
}
.notification-list li {
    border-top: 1px solid #ccc;
    padding: 10px 0px;
}
.notification-message p{font-size:16px}
.notification-list li:last-child{
  border-bottom: none;
}
.notification-list li:first-child{
  border-top: none;
}
.notification-status {
    vertical-align: middle;
    min-height: 60px;
    padding-top: 20px;
}
.notification-status span{
  background-color: #0e52fd;
  padding:0 8px;
   border-radius: 50%;
  }
.team-list .thumbnail{
  padding: 20px;
  border-radius: 0px;
    box-shadow: -2px 2px 39px #ccc;
    margin: 0px 5px;
}
.team-list .thumbnail img{
  width: 70%;margin: 0 auto;
  /*min-height: 130px;*/
}
.team-list .thumbnail img{
  width: 70%;
    margin: 0 auto;
    min-height: 130px;
}
.team-list h4{
  font-size: 16px;
  font-weight: 400;
}
.team-list .caption h4{
margin-bottom: 0px;
font-size: 18px;

}
.team-list .caption p{
  margin-bottom: 3px;
  font-size: 11px;
}
.detail-section .thumbnail{
   padding: 14px 40px;
}
.mini-section{
font-size:  0.8em;
}
.detail-section h3{
  font-weight: 300;margin: 0px;
}
.client-lable {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0px;
}
.clielnt-value {
    font-size: 1em;
}
.min-height222{min-height: 148px;}
.min-height137 {
    min-height: 103px;
    position: relative;
}
.file-name {
    font-size: 1em;
    font-weight: bold;
    /* margin-top: 20px; */
    margin-bottom: 4px;
}
.file-name span {
    font-size: 1.4em;
    padding-right: 5px;
}
.file-name span:first-child{
  color: #0e52fd
}
.attachment-details {
    font-size: 0.9em;
}
.attach-filelist{
  width: 80%;
    max-height: 100px;
    overflow-y: scroll;
}
.attach-filelist:hover{
  
}
.theme-red{
  color: #0e52fd;
}
.clielnt-value a{
  color: #0977f3;
  text-decoration: underline;}
.interestedin h5{
  margin-bottom: 5px;
}
.interestedin li{
  margin-bottom: 10px;
}
.location-name {
    font-size: 1em;
}
.interestedin .glyphicon{font-size: 0.9em;}
.uploadfile {
    position: absolute;
    top: 8px;
    right: 43px;
    /* width: 50px; */
    border-radius: 5px;
    height: 32px;
    /* background-image: url(../images/upload.png); */
    cursor: pointer;
    background: #333333;
    width: 100px;
}
.attach-back {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #0e52fd;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    padding: 1px 8px;
    top: -2px;
    left: 6px;
}
.location-list p {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0px;
}
.location-list li{
      margin-bottom: 20px;
}
.location-list span{
      font-size: 0.8em;
}
.uploadfile input[type="file"] {
        opacity: 0;
    height: 32px;
    cursor: pointer;
    width: 100px;
    z-index: 9999;
}
.panel-default {
    border-color: #ddd;
    border: 0;
    border-radius: 0px;
}
.chatboxapp .panel-default>.panel-heading {
    color: #fff;
    background-color: #0e52fd;
    border-color: #ddd;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 0px;
}
.chatboxapp .panel{
  border-radius: 0px;
  box-shadow: none;
}

.chatboxapp .panel-body {
        border: 1px solid #ddd;
    min-height: 340px;
}
.body-wrapper .panel-default>.panel-heading{
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #dbdbdb;
}
.body-wrapper .panel-default>.panel-body {
        border: 1px solid #ddd;
}
/*chatbox*/
.incoming_msg {
    margin-bottom: 10px;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.incoming_msg_img img,.outgoing_msg_img img{
    border-radius: 50%;
}
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}


.top_spac{ margin: 20px 0 0;}



.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}


.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}


.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
  position: relative;
    top: -17px;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: bottom;
    /*margin-bottom: -22px;*/
    width: 92%;
 }
 .received_withd_msg p {
    background: #fafafa none repeat scroll 0 0;
    border-radius: 9px 9px 9px 0px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 10px;
    margin: 8px 0 0;
    float: right;
}
.received_withd_msg { width: 57%;}
.mesgs {
    float: left;
    padding: 0px 0px 0 15px;
    width: 100%;
}
.msg_history {
    max-height: 302px;
    overflow-y: scroll;
}
.outgoing_msg_img {
    display: inline-block;
    width: 6%;
    position: absolute;
    right: 6px;
    top: 0px;
}

 .sent_msg p {
  background: #0e52fd none repeat scroll 0 0;
  border-radius: 9px 9px 0px 9px;
  font-size: 12px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;position: relative;}
.sent_msg {
    float: right;
    width: 46%;
    margin-right: 40px;

}
.input_msg_write input {
 background: #fafafa;
    border: medium none;
    color: #4c4c4c;
    font-size: 11px;
    min-height: 35px;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.type_msg {position: relative;    margin-top: 37px;}
.msg_send_btn {
     background: #0e52fd none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: 34px;
    right: 0;
    width: 78px;
}
.messaging { padding: 0 0 50px 0;}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
   /* border-radius: 5px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
        background: #d1d1d1;
    /*border-radius: 5px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.chatboxapp .msg_history {
    min-height: 301px;
}
.location-list {
    min-height: 463px;
}
.interestedin {
    min-height: 99px;
    max-height: 100px;
    overflow: hidden scroll;
}
.note-section {
    min-height: 164px;
    max-height: 165px;
    overflow: hidden scroll;
}
.location-list span.glyphicon{
  font-size: 20px;
    position: absolute;
    top: 11px;
    right: 12px;
    color: #0e52fd;
}
/*end of chat  box*/
/*modal window css*/
.body-wrapper .modal-content{
  border-radius: 0px;
}
.body-wrapper .modal-content .close{
  color: #FFF;
}
.body-wrapper .modal-header{
    background: #0e52fd;
}
.body-wrapper .modal-title{
  color: #fff;
}

.uploadfile span {
      position: absolute;
        top: 5px;
    left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
@media
    only screen 
    and (max-width: 760px){

    /* Force table to not be like tables anymore */
    

    /* Hide table headers (but not display: none;, for accessibility) */
    .dashboard-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

   .dashboard-table tr {
      margin: 0 0 1rem 0;
    }
      
   .dashboard-table tr:nth-child(odd) {
      background: #ccc;
    }
    
    .dashboard-table td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50% !important;
        padding-top: 0px !important;
    }

  .dashboard-table td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    .dashboard-table td:nth-of-type(1):before { content: "first"; }
    .dashboard-table td:nth-of-type(2):before { content: "Last"; }
    .dashboard-table td:nth-of-type(3):before { content: "stage"; }
    .dashboard-table td:nth-of-type(4):before { content: "loan officer"; }
    .dashboard-table td:nth-of-type(5):before { content: "realty advisor"; }
    .dashboard-table td:nth-of-type(6):before { content: "agent"; }
  }
  @media (max-width: 768px){  
    .dashboard-nav .navbar-nav>li>a {
       padding: 6px 10px;
       padding: 22px 9px;
       font-size: 1em;
    }
    .profile-dropdown .dropdown-toggle{
      font-size: 1em;
    }
    .dashboard-header h1{
      font-size: 2em;
    }
    .dashboard-header{
          margin-top: 62px;
          padding: 1px 0px;
          margin-top: 122px;
    padding: 11px 0px;
    }
    .uploadfile{
      right: 0px;
    }
    #wrapper #page-content-wrapper .container {
    width: auto;
    }
  }
  @media (max-width: 480px){
    .dashboard-nav .navbar-nav>li>a {
       padding: 6px 10px;
    }
    .uploadfile {
    right: 25px;
    }
  .notification-status.col-md-2.text-right {
      text-align: left;
      margin-left: 30px;
  }
    .searchbox{
      width: 100%;
      margin-bottom: 10px;
      min-width: auto;
    }
    .navbar-toggle .icon-bar{
      background: #0e52fd;
    }
    .navbar-mobile{
      width: 100%;
    }
    .dashboard-header{
      margin-top: 136px;
        padding: 11px 0px;
      background-size: 152%;
    }
    .dashboard-nav>.container-fluid .navbar-brand{
      margin-left: 10px;
    }

  }
  @media(max-width: 1024px){
    .searchbox {
        min-width: auto;
    }
    .input_msg_write input{
      width: 70%;
    }
  }
  @media(min-width: 1024px){
    .dashboard-header{
      min-height: 86px;
    }
    .uploadfile{
      right: 23px;
    }
    
  }



  /*latest css code*/
  #wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 75px;
  left: 250px;
  width: 250px;
  background: #e4e4e4;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 20px;
  transition: all 0.4s ease 0s;
  background: #fafafa;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 182px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #333333;
  display: block;
  text-decoration: none;
  padding-left: 0px;
  
}
.sidebar-nav li a span{
  font-family: "proxima nova regular";
      font-size: 1.3em;
    font-weight: bold;
}
#sidebar-wrapper .nav>li>a{
    padding: 0px 15px;
}
.sidebar-nav li a.active{
  background: #bdbdbd;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #333333;
 background: #bdbdbd;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding: 0px 20px 0px 10px;
    margin-top: 30px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}
.alldeal .table thead tr th{
    font-size: 1.2em;
  }
.alldeal td .bold-text{
    font-size: 1.2em;
  }
}

/*client page*/
.profile-list > li{
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 6px;
}
.profile-list > li > span{
  font-weight: normal;
  color: #808080;
}
.text-light-gray{
 color: #808080; 
 font-size: 1.3em;
}
.block-text{
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}
.padding-none{
  padding: 0px;
}
.note-body {
    font-size: 1.2em;
    line-height: 21px;
    border: 1px solid #ccc;
    padding: 6px;
    overflow-y: scroll;
    max-height: 175px;
}
.panel-heading h4:nth-child(2){
  margin-bottom: 0px;
}
.panel-heading h4:nth-child(2)::after{
  content: " ";
  background-color: red;
}
.favorite-list .media img{
  height: 90px;width: 120px;
}
.favorite-list {
    min-height: 400px;
    max-height: 401px;
    overflow-y: scroll;
}
.favorite-list .media-body{
  padding-right: 10px;
      font-size: 1.1em;
}
.favorite-list .media-body a{
      color: #0c5089;
}
.favorite-list .media-body .text-light-gray{
      font-size: 1em;
}
.text-total {
    font-size: 1.1em;
}
.client-list{
    margin-top: 92px;
    padding-bottom: 20px;
}
.client-list .media img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.client-list .media-body p{
  margin-bottom: 0px;
  font-size: 1.3em;
}
.star-color{
  color: #ffd203;
}
.profile-details {
    background: #fff;
    margin-top: -20px;
    padding: 33px 0px;
}
.profile-details p{
    font-size: 1.3em;
    margin-bottom: 5px;
}
.profile-dropdown{
  margin-top: 6px;
}
.profile-dropdown .dropdown-menu li>a {
    padding: 2px 29px;
    color: #000;
    font-size: 1.4em;
    font-family: "proxima nova regular";
}
.profile-dropdown li>a:hover{
  text-decoration: none;
}
.profile-dropdown li.dropdown{
    padding-top: 20px;
    padding-right: 30px;
}
.profile-dropdown .dropdown-toggle{
      font-size: 1.3em;
    padding-right: 32px;
    color: #fff;
}
.profile-dropdown .dropdown-menu{
  left: -49px;
    top: 55px;
}
.body-wrapper {
    padding-bottom: 0px;
    margin-top: 75px;
}
.agent-section{
  background-color: #fafafa;
  padding: 30px 0px;
}
.agent-section hr{
  margin-top: 14px;
    margin-bottom: 10px;
}
.text-maroon{
  color: #0e52fd;
}
.agent-details .agent_name{
    font-size: 3em;
    font-family: 'proxima nova thin', sans-serif;
    font-weight: 100;
}
.agent-details p {
    font-size: 1.5em;
    margin: 0px;
}
.agent-details h3{margin: 0px;}
p.agent-review{
      font-size: 2em;
}
.agent-details .text-light-gray{
font-size: 1em;
}
.text-cyan{
  color: #279897;
}
p.agent-contact{margin-top: 10px;font-size: 1.7em;}
.most-recent-reviews .media-object{
    width: 130px;
    height: 130px;
}
.media-body .address p {
    margin: 0px;
}
.most-recent-reviews h3{font-family: 'proxima nova thin', sans-serif;margin: 30px 0px;}
.m-b-10{    margin-bottom: 30px;}
.deal-section{
  background: #fafafa;
}
.light-gray-backgroud{
  background: #fafafa;
}
.alldeal {
    border: 1px solid #ccc;
    margin-top: 30px;
    padding: 20px;
    min-height: 500px;
    max-height: 501px;
    overflow-y: scroll;
    background-color: #fff;
}
.bold-text{
font-family: 'proxima nova semibold', sans-serif;margin: 0px;
    font-size: 1.2em;
    color: #0e52fd;
}
.light-text{
  font-family: 'proxima nova thin', sans-serif;margin: 0px;
}
.btn{border-width: 2px}
.btn-default{background-color: #0e52fd;color: #fff;border-color: #0e52fd;}
.btn-danger{}
#page-content-wrapper .body-wrapper {
  margin-top: 0px;
}
.leadName:hover {
              
    text-decoration: underline;
    cursor:pointer;
}
a {
    cursor:pointer;
}
.profile-details a,
.media a {
  
    font-size: 16px;
}
.leadName:hover,
.username:hover {
  
    cursor: pointer;
    text-decoration: underline;
}

span.stars, span.stars span {
  display: block;
  width: 80px;
  height: 16px;
}
span.stars span {
  background-position: 0 0;
}
.blue-btn {
  background: #0e52fd; 
  color: #fff; 
  border: 1px solid #0e52fd;
}
@media (max-width: 768px){  
    .profile-image{
      width: 32px;
    }
    .profile-dropdown .dropdown-toggle,
    .dashboard-nav .navbar-nav>li>a{
      font-size: 1em;
    }
}
@media (max-width: 480px){
  .notification-status.col-md-2.text-right {
    text-align: left;
    margin-left: 30px;
  }
}

.dataTables_filter input[type="search"] {

  display: inline-block;
  width: auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table.dataTable thead th, table.dataTable thead td {
  padding-left: 10px !important;
}

span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.m-t-dashboard {

  margin-top: 63px;
}

.min-height-dashboard {

  min-height: 300px;
}

.cust-table h1 {

  color: #16325c;
  font-size: 1.3em !important;
}

.widget h2 {

  margin-top: 5px;
  padding-left: 5px;
}

.truncation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.widget .gridHeader, .widget .gridTitle {
    align-self: flex-start;
    font-weight: normal;
}

.widget .gridHeader {
    
    font-family: 'proxima nova regular', sans-serif;
    font-size: 2rem;
    color: #16325c;
    top: inherit;
    width: calc(100% - 20px);
}
.widget .text_cont {
  font-size: 6rem;
  padding: 70px 0;
  text-align: center;
  color: rgb(4, 132, 75);
}
.widget .footer_cont {

  padding-left: 5px;
  bottom: 10px;
  position: absolute;
}

#assigned_deals {
  width: 100%;
  height: 230px;
}

#deals_actively_looking {
  width: 100%;
  height: 230px;
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}

.min-height-dashboard .table thead tr th {

  font-size: 1.2em !important;

}