/************** DEAL LIST PAGE ***************/
.bold-text {
      margin: 0px;
      font-size: 20px;
      color: #e7161b;
      font-weight: 500;
  }
  .light-text {

    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #9e9e9e;
  }

  .table tbody tr td {
    
    font-size: 1em;
    border: none;
    padding: 18px 10px;
  }
  
  .table thead tr, .table tbody tr {
    border-bottom: 1px solid #ccc !important
  }
  .btn-default {
    background-color: #fff;
    color: #4cae4c;
    border-color: #4cae4c;
  }

  .btn {
    border-width: 2px;
  }
  .table thead tr th {
    /* color: #b11a1e; */
    /* text-transform: uppercase; */
    font-size: 1em;
    font-weight: 500;
    font-size: 15px;
    /* font-family: "proxima nova semibold"; */
    border-bottom: -1px;
    color: #333;
    padding: 11px 7px;
  }
  label {
    font-weight: 500 !important
  }

  /************** END DEAL LIST PAGE ***************/

  /************** USER INFO ************************/

  .agent-section {
    background-color: #fafafa;
    padding: 30px 0px;
  }
  .agent-details h3 {
    margin: 0px;
  }
  .text-maroon {
    color: #e7161b;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima nova semibold', sans-serif;
    font-weight: 100;
  }
  .agent-details .agent_name {
    font-size: 3em;
    font-family: 'proxima nova thin', sans-serif;
    font-weight: 100;
  }
  p.agent-review {
    font-size: 2em;
  }
  .agent-details p {
    font-size: 1.5em;
    margin: 0px;
  }
  
  span.stars span {
    background-position: 0 0;
  }

  span.stars, span.stars span {
    display: block;
    background: url(https://afnew-agentfind.cs97.force.com/AgentFind/resource/1576604304000/AgentFindNew/images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
  }
  .agent-details p {
    font-size: 1.5em;
    margin: 0px;
  }
  p.agent-contact {
    margin-top: 10px;
    font-size: 1.7em;
  }

  .agent-details p {
    font-size: 1.5em;
    margin: 0px;
    font-weight: 500;
  }
  .text-cyan {
    color: #279897;
  }
  .most-recent-reviews h3 {
    font-family: 'proxima nova thin', sans-serif;
    margin: 30px 0px;
  }
  .m-b-10 {
    margin-bottom: 30px;
  }
  .profile-details a, .media a {
    font-size: 16px;
  }
  a {
    cursor: pointer;
  }
  .star-color {
    color: #ffd203;
  }
  .most-recent-reviews .media-object {
    width: 130px;
    height: 130px;
  }
  img {
    max-width: 100%;
  }
  /**************** END USER INFO **********************/

